<!--
  ~ Copyright 2018 Guillaume Gravetot
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~      http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<configuration>
	<conversionRule conversionWord="color" converterClass="io.inveasy.logging.CustomColorCompositeConverter" />
	<conversionRule conversionWord="fb" converterClass="io.inveasy.logging.FallbackCompositeConverter" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%color(%fb(%X{akkaTimestamp}){%d}){faint} %color(%5.5level){highlight} %color([%21.21fb(%X{sourceThread}){%t}]){faint} - %color(%-30.30logger{29}){94,italic} %color(%-30.30X{akkaSource} ){34}%color(:){faint} %color(%m){highlight,text}%n%ex</pattern>
		</encoder>
	</appender>

	<appender name="ACCESS_FILE" class="ch.qos.logback.core.FileAppender">
		<file>logs/access.log</file>
		<encoder>
			<pattern>%d %t %X{serverName} %X{remoteHost} %X{requestPath} %X{requestContentType} %X{responseContentType} %X{contentLength} %X{statusCode} %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="access" level="DEBUG" additivity="false">
		<appender-ref ref="ACCESS_FILE" />
	</logger>

	<root level="${logLevel:-INFO}">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
